In [1]:
#Import Dependancies
import pandas as pd

In [2]:
# Load CSV Files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read school data file and store in pandas data frame
school_data = pd.read_csv(school_data_to_load)

school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Read student data file and store in pandas data frame
student_data = pd.read_csv(student_data_to_load)

student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Merge the two CSV files together
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
# District Summary
# Calculate the total number of schools
number_of_schools = school_data_complete["school_name"].nunique()

In [7]:
print(f"Total number of schools: {number_of_schools}")

Total number of schools: 15

In [8]:
# District Summary
#Calculate the total number of students
number_of_students = school_data_complete["student_name"].count()

In [9]:
print(f"Total Number of Students: {number_of_students:,}")

Total Number of Students: 39,170

In [10]:
# District Summary
# Calculate the total budget
total_budget = school_data["budget"].sum()

In [11]:
print(f"Total Budget: ${total_budget:,.2f}")

Total Budget: $24,649,428.00

In [12]:
# District Summary
# Calculate the Average Math Score
avg_math_score = school_data_complete["math_score"].mean()

In [13]:
print(f"Average Math Score: {avg_math_score:,.6f}")

Average Math Score: 78.985371

In [14]:
#District Summary
# Calculate the Average Reading Score
avg_reading_score = school_data_complete["reading_score"].mean()

In [15]:
print(f"Average Reading Score: {avg_reading_score:,.5f}")

Average Reading Score: 81.87784

In [16]:
# District Summary
# Calculate the percentage of students that passed math with 70 or greater
students_passed_math = school_data_complete.loc[school_data_complete ["math_score"] >=70]
number_students_passed_math = students_passed_math["Student ID"].count()
percent_passed_math = (number_students_passed_math / number_of_students) *100

In [17]:
print(f"% Passing Math: {percent_passed_math:.6f}%")

% Passing Math: 74.980853%

In [18]:
# District Summary
# Calculate the percentage of students that passed reading with 70 or greater
students_passed_reading = school_data_complete.loc[school_data_complete ["reading_score"] >=70]
number_students_passed_reading = students_passed_reading["Student ID"].count()
percent_passed_reading = (number_students_passed_reading / number_of_students) *100

In [19]:
print(f"% Passing Reading: {percent_passed_reading:.6f}%")

% Passing Reading: 85.805463%

In [20]:
# District Summary
# Calculate the percentage of students that passed math & reading (overall percentage)
students_passed_both = school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)]
number_students_passed_both = students_passed_both["Student ID"].count()
percent_passed_both = (number_students_passed_both / number_of_students) *100

In [21]:
print(f"% Overall Passing: {percent_passed_both: .6f}%")

% Overall Passing:  65.172326%

In [113]:
#District Summary
# Create a dataframe to hold the above results and add format
district_summary = pd.DataFrame({"Total Schools": number_of_schools, 
                                 "Total Students": f"{number_of_students:,}", 
                                 "Total Budget": f"${total_budget:,.2f}",
                                 "Average Math Score": f"{avg_math_score:,.6f}",
                                 "Average Reading Score":f"{avg_reading_score:,.5f}",
                                 "% Passing Math": f" {percent_passed_math:.6f}", 
                                 "% Passing Reading": f"{percent_passed_reading:.6f}",
                                 "% Overall Passing": f"{percent_passed_both: .6f}"
                                }, index=[0])

In [114]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [126]:
# School Summary
# Create overview table that summarizes key metrics about each school
# School Name
school_name = school_data_complete.set_index("school_name").groupby(["school_name"])
school_name.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [127]:
# School Summary
# School Type
school_type = school_data.set_index("school_name")["type"]                                             
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [128]:
# School Summary
# Total Students
total_student = school_data_complete["school_name"].value_counts()
total_student.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [129]:
# School Summary
#Total School Budget
total_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
total_school_budget.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [130]:
# School Summary
# Per Student Budget
per_student_budget = total_school_budget / total_student
per_student_budget.head()

Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [131]:
# School Summary
# Average Math Score
average_math_score = school_name["math_score"].mean()

average_math_score.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [132]:
# School Summary
# Average Reading Score
average_reading_score = school_name["reading_score"].mean()
average_reading_score.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [133]:
# School Summary
# % Passing Math
percent_passing_math = school_data_complete[school_data_complete ["math_score"] >=70].groupby("school_name")["Student ID"].count()/total_student*100
percent_passing_math.head()

Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
Griffin High School     93.392371
dtype: float64

In [134]:
# School Summary
# % Passing Reading
percent_passing_reading = school_data_complete[school_data_complete ["reading_score"] >=70].groupby("school_name")["Student ID"].count()/total_student*100
percent_passing_reading.head()

Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
dtype: float64

In [135]:
# School Summary
# % Overall Passing both math and reading
overall_passing_both = school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)].groupby("school_name")["Student ID"].count()/total_student*100
overall_passing_both.head()

Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
dtype: float64

In [152]:
# School Summary
# Create a new DataFrame to hold the School Summary Information
school_summary_df = pd.DataFrame({"School Type": school_type,
                                 "Total Students": total_student,
                                 "Total School Budget": total_school_budget,
                                 "Per Student Budget": per_student_budget,
                                 "Average Math Score": average_math_score,
                                 "Average Reading Score": average_reading_score,
                                 "% Passing Math": percent_passing_math,
                                 "% Passing Reading": percent_passing_reading,
                                 "% Overall Passing Rate": overall_passing_both})
                                  

school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455