In [3]:
#Import Dependancies
import pandas as pd

In [4]:
# Load CSV Files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [5]:
# Read school data file and store in pandas data frame
school_data = pd.read_csv(school_data_to_load)

school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Read student data file and store in pandas data frame
student_data = pd.read_csv(student_data_to_load)

student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Merge the two CSV files together
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# District Summary
# Calculate the total number of schools
number_of_schools = school_data_complete["school_name"].nunique()

In [9]:
print(f"Total number of schools: {number_of_schools}")

Total number of schools: 15

In [12]:
# District Summary
#Calculate the total number of students
number_of_students = school_data_complete["student_name"].count()

In [13]:
print(f"Total Number of Students: {number_of_students,}")

Total Number of Students: 39170

In [16]:
# District Summary
# Calculate the total budget
total_budget = school_data["budget"].sum()

In [22]:
print(f"Total Budget: ${total_budget:,.2f}")

Total Budget: $24,649,428.00

In [23]:
# District Summary
# Calculate the Average Math Score
avg_math_score = school_data_complete["math_score"].mean()

In [24]:
print(f"Average Math Score: {avg_math_score:,.6f}")

Average Math Score: 78.985371

In [25]:
#District Summary
# Calculate the Average Reading Score
avg_reading_score = school_data_complete["reading_score"].mean()

In [26]:
print(f"Average Reading Score: {avg_reading_score:,.5f}")

Average Reading Score: 81.87784

In [27]:
# District Summary
# Calculate the percentage of students that passed math with 70 or greater
students_passed_math = school_data_complete.loc[school_data_complete ["math_score"] >=70]
number_students_passed_math = students_passed_math["Student ID"].count()
percent_passed_math = (number_students_passed_math / number_of_students) *100

In [28]:
print(f"% Passing Math: {percent_passed_math:,.6f}%")

% Passing Math: 74.980853%

In [1]:
# District Summary
# Calculate the percentage of students that passed reading with 70 or greater
students_passed_reading = school_data_complete.loc[school_data_complete ["reading_score"] >=70]
number_students_passed_reading = students_passed_reading["Student ID"].count()
percent_passed_reading = (number_students_passed_reading / number_of_students) *100

NameError: name 'school_data_complete' is not defined